
<!DOCTYPE html>

<html>
  <head>
    <title> Breaks </title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/break.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<center>
    <h1>Breaks</h1>
   <h2>List of Hobbies</h2>
     {{#each list}}
                <div class="friend-wrapper" id="taskInformation">
                    <a href="#" class="click-listener"><span style "font-size:40pt;"> Hobby Name: {{name}}</span> <span><br/></span>
                      <h3> <span style="font-size:14pt; color: black;">
                      1. Cost: {{ date }} <span><br/></span>
                      2. Distance:  {{startTime}}<span><br/></span>
                      3. Objects: {{endTime}} <span><br/></span>
                      4. Locations: {{location}}<span><br/></span> 
                      5. Level of Mess: {{Mess}} <span><br/></span>
                      6. Time: {{Time}} <span><br/></span>
                      7. Individual/Group: {{Size}} <span><br/></span>
                      8. Other:  {{Other}}</span> </h3></a> 
                </div>

            {{/each}}
    







        
        <a href= "tasker"><button>Home</button></a>
            <a href= "hobbies"><button>Breaks</button></a>
            <!--<a href= "settings"><button>Settings</button></a>-->
            <a href ="inputTasks"><button>Hobbies</button></a>
      </center>
    </body>
</html>